service-stubs/org.wso2.carbon.andes.mgt.stub/src/main/resources/AndesManagerService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.cluster.andes.carbon.wso2.org" xmlns:ax27="http://mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org">
    <wsdl:documentation>AndesManagerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org/xsd">
            <xs:complexType name="ClusterMgtAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd">
            <xs:complexType name="ClusterMgtException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultString" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:ax26="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org">
            <xs:import namespace="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://mgt.cluster.andes.carbon.wso2.org/xsd"/>
            <xs:element name="AndesManagerServiceClusterMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClusterMgtException" nillable="true" type="ax25:ClusterMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isClusteringEnabled">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isClusteringEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AndesManagerServiceClusterMgtAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClusterMgtAdminException" nillable="true" type="ax27:ClusterMgtAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClusterNodeAddresses">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClusterNodeAddressesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCoordinatorNodeAddress">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCoordinatorNodeAddressResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyNodeID">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyNodeIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoreHealth">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoreHealthResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllClusterNodeAddressesRequest">
        <wsdl:part name="parameters" element="ns:getAllClusterNodeAddresses"/>
    </wsdl:message>
    <wsdl:message name="getAllClusterNodeAddressesResponse">
        <wsdl:part name="parameters" element="ns:getAllClusterNodeAddressesResponse"/>
    </wsdl:message>
    <wsdl:message name="AndesManagerServiceClusterMgtAdminException">
        <wsdl:part name="parameters" element="ns:AndesManagerServiceClusterMgtAdminException"/>
    </wsdl:message>
    <wsdl:message name="getCoordinatorNodeAddressRequest">
        <wsdl:part name="parameters" element="ns:getCoordinatorNodeAddress"/>
    </wsdl:message>
    <wsdl:message name="getCoordinatorNodeAddressResponse">
        <wsdl:part name="parameters" element="ns:getCoordinatorNodeAddressResponse"/>
    </wsdl:message>
    <wsdl:message name="getStoreHealthRequest">
        <wsdl:part name="parameters" element="ns:getStoreHealth"/>
    </wsdl:message>
    <wsdl:message name="getStoreHealthResponse">
        <wsdl:part name="parameters" element="ns:getStoreHealthResponse"/>
    </wsdl:message>
    <wsdl:message name="AndesManagerServiceClusterMgtException">
        <wsdl:part name="parameters" element="ns:AndesManagerServiceClusterMgtException"/>
    </wsdl:message>
    <wsdl:message name="getMyNodeIDRequest">
        <wsdl:part name="parameters" element="ns:getMyNodeID"/>
    </wsdl:message>
    <wsdl:message name="getMyNodeIDResponse">
        <wsdl:part name="parameters" element="ns:getMyNodeIDResponse"/>
    </wsdl:message>
    <wsdl:message name="isClusteringEnabledRequest">
        <wsdl:part name="parameters" element="ns:isClusteringEnabled"/>
    </wsdl:message>
    <wsdl:message name="isClusteringEnabledResponse">
        <wsdl:part name="parameters" element="ns:isClusteringEnabledResponse"/>
    </wsdl:message>
    <wsdl:portType name="AndesManagerServicePortType">
        <wsdl:operation name="getAllClusterNodeAddresses">
            <wsdl:input message="ns:getAllClusterNodeAddressesRequest" wsaw:Action="urn:getAllClusterNodeAddresses"/>
            <wsdl:output message="ns:getAllClusterNodeAddressesResponse" wsaw:Action="urn:getAllClusterNodeAddressesResponse"/>
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getAllClusterNodeAddressesAndesManagerServiceClusterMgtAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getCoordinatorNodeAddress">
            <wsdl:input message="ns:getCoordinatorNodeAddressRequest" wsaw:Action="urn:getCoordinatorNodeAddress"/>
            <wsdl:output message="ns:getCoordinatorNodeAddressResponse" wsaw:Action="urn:getCoordinatorNodeAddressResponse"/>
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getCoordinatorNodeAddressAndesManagerServiceClusterMgtAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getStoreHealth">
            <wsdl:input message="ns:getStoreHealthRequest" wsaw:Action="urn:getStoreHealth"/>
            <wsdl:output message="ns:getStoreHealthResponse" wsaw:Action="urn:getStoreHealthResponse"/>
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:getStoreHealthAndesManagerServiceClusterMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <wsdl:input message="ns:getMyNodeIDRequest" wsaw:Action="urn:getMyNodeID"/>
            <wsdl:output message="ns:getMyNodeIDResponse" wsaw:Action="urn:getMyNodeIDResponse"/>
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:getMyNodeIDAndesManagerServiceClusterMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <wsdl:input message="ns:isClusteringEnabledRequest" wsaw:Action="urn:isClusteringEnabled"/>
            <wsdl:output message="ns:isClusteringEnabledResponse" wsaw:Action="urn:isClusteringEnabledResponse"/>
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:isClusteringEnabledAndesManagerServiceClusterMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AndesManagerServiceSoap11Binding" type="ns:AndesManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllClusterNodeAddresses">
            <soap:operation soapAction="urn:getAllClusterNodeAddresses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCoordinatorNodeAddress">
            <soap:operation soapAction="urn:getCoordinatorNodeAddress" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStoreHealth">
            <soap:operation soapAction="urn:getStoreHealth" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <soap:operation soapAction="urn:getMyNodeID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <soap:operation soapAction="urn:isClusteringEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesManagerServiceSoap12Binding" type="ns:AndesManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllClusterNodeAddresses">
            <soap12:operation soapAction="urn:getAllClusterNodeAddresses" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCoordinatorNodeAddress">
            <soap12:operation soapAction="urn:getCoordinatorNodeAddress" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStoreHealth">
            <soap12:operation soapAction="urn:getStoreHealth" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <soap12:operation soapAction="urn:getMyNodeID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <soap12:operation soapAction="urn:isClusteringEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesManagerServiceHttpBinding" type="ns:AndesManagerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllClusterNodeAddresses">
            <http:operation location="getAllClusterNodeAddresses"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCoordinatorNodeAddress">
            <http:operation location="getCoordinatorNodeAddress"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStoreHealth">
            <http:operation location="getStoreHealth"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <http:operation location="getMyNodeID"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <http:operation location="isClusteringEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AndesManagerService">
        <wsdl:port name="AndesManagerServiceHttpsSoap11Endpoint" binding="ns:AndesManagerServiceSoap11Binding">
            <soap:address location="https://10.100.5.197:9443/services/AndesManagerService.AndesManagerServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesManagerServiceHttpsSoap12Endpoint" binding="ns:AndesManagerServiceSoap12Binding">
            <soap12:address location="https://10.100.5.197:9443/services/AndesManagerService.AndesManagerServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesManagerServiceHttpsEndpoint" binding="ns:AndesManagerServiceHttpBinding">
            <http:address location="https://10.100.5.197:9443/services/AndesManagerService.AndesManagerServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>