service-stubs/org.wso2.carbon.andes.mgt.stub/src/main/resources/AndesManagerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.cluster.andes.carbon.wso2.org" xmlns:ax27="http://mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org">
    <wsdl:documentation>AndesManagerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org/xsd">
            <xs:complexType name="ClusterMgtAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Topic">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="numberOfSubscribers" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Queue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdFrom" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="messageCount" type="xs:int" />
                    <xs:element minOccurs="0" name="queueDepth" type="xs:long" />
                    <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="updatedTime" nillable="true" type="xs:dateTime" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NodeDetail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="memoryUsage" type="xs:long" />
                    <xs:element minOccurs="0" name="messagesReceivedLastFiveMin" type="xs:int" />
                    <xs:element minOccurs="0" name="messagesReceivedLastHalfMin" type="xs:int" />
                    <xs:element minOccurs="0" name="messagesReceivedLastHour" type="xs:int" />
                    <xs:element minOccurs="0" name="nodeId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="numOfQueues" type="xs:long" />
                    <xs:element minOccurs="0" name="numOfTopics" type="xs:long" />
                    <xs:element minOccurs="0" name="throughput" type="xs:long" />
                    <xs:element minOccurs="0" name="zookeeperID" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd">
            <xs:complexType name="ClusterMgtException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCode" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultString" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://mgt.cluster.andes.carbon.wso2.org/xsd" xmlns:ax26="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.cluster.andes.carbon.wso2.org">
            <xs:import namespace="http://internal.mgt.cluster.andes.carbon.wso2.org/xsd" />
            <xs:import namespace="http://mgt.cluster.andes.carbon.wso2.org/xsd" />
            <xs:element name="AndesManagerServiceClusterMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClusterMgtException" nillable="true" type="ax25:ClusterMgtException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateWorkerForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueToUpdate" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="newNodeToAssign" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateWorkerForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isClusteringEnabled">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="isClusteringEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AndesManagerServiceClusterMgtAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClusterMgtAdminException" nillable="true" type="ax27:ClusterMgtAdminException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getZookeeperConnection">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getZookeeperConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThroughputForNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThroughputForNodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberofSubscriptionsForTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topicName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberofSubscriptionsForTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfTopics">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfTopicsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfQueues">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfQueuesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfMessagesForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfMessagesForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumOfNodes">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumOfNodesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyNodeID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyNodeIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMemoryUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMemoryUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCassandraConnection">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getCassandraConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTopicsForNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="startingIndex" type="xs:int" />
                        <xs:element minOccurs="0" name="maxTopicCount" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTopicsForNodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:Topic" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueuesForNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="startingIndex" type="xs:int" />
                        <xs:element minOccurs="0" name="maxQueueCount" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueuesForNodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:Queue" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllNodeDetail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="startingIndex" type="xs:int" />
                        <xs:element minOccurs="0" name="maxNodesCount" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllNodeDetailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:NodeDetail" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNumberOfQueuesRequest">
        <wsdl:part name="parameters" element="ns:getNumberOfQueues" />
    </wsdl:message>
    <wsdl:message name="getNumberOfQueuesResponse">
        <wsdl:part name="parameters" element="ns:getNumberOfQueuesResponse" />
    </wsdl:message>
    <wsdl:message name="AndesManagerServiceClusterMgtAdminException">
        <wsdl:part name="parameters" element="ns:AndesManagerServiceClusterMgtAdminException" />
    </wsdl:message>
    <wsdl:message name="getNumberOfTopicsRequest">
        <wsdl:part name="parameters" element="ns:getNumberOfTopics" />
    </wsdl:message>
    <wsdl:message name="getNumberOfTopicsResponse">
        <wsdl:part name="parameters" element="ns:getNumberOfTopicsResponse" />
    </wsdl:message>
    <wsdl:message name="getThroughputForNodeRequest">
        <wsdl:part name="parameters" element="ns:getThroughputForNode" />
    </wsdl:message>
    <wsdl:message name="getThroughputForNodeResponse">
        <wsdl:part name="parameters" element="ns:getThroughputForNodeResponse" />
    </wsdl:message>
    <wsdl:message name="getMemoryUsageRequest">
        <wsdl:part name="parameters" element="ns:getMemoryUsage" />
    </wsdl:message>
    <wsdl:message name="getMemoryUsageResponse">
        <wsdl:part name="parameters" element="ns:getMemoryUsageResponse" />
    </wsdl:message>
    <wsdl:message name="getZookeeperConnectionRequest">
        <wsdl:part name="parameters" element="ns:getZookeeperConnection" />
    </wsdl:message>
    <wsdl:message name="getZookeeperConnectionResponse">
        <wsdl:part name="parameters" element="ns:getZookeeperConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="getAllQueuesForNodeRequest">
        <wsdl:part name="parameters" element="ns:getAllQueuesForNode" />
    </wsdl:message>
    <wsdl:message name="getAllQueuesForNodeResponse">
        <wsdl:part name="parameters" element="ns:getAllQueuesForNodeResponse" />
    </wsdl:message>
    <wsdl:message name="getMyNodeIDRequest">
        <wsdl:part name="parameters" element="ns:getMyNodeID" />
    </wsdl:message>
    <wsdl:message name="getMyNodeIDResponse">
        <wsdl:part name="parameters" element="ns:getMyNodeIDResponse" />
    </wsdl:message>
    <wsdl:message name="AndesManagerServiceClusterMgtException">
        <wsdl:part name="parameters" element="ns:AndesManagerServiceClusterMgtException" />
    </wsdl:message>
    <wsdl:message name="getCassandraConnectionRequest">
        <wsdl:part name="parameters" element="ns:getCassandraConnection" />
    </wsdl:message>
    <wsdl:message name="getCassandraConnectionResponse">
        <wsdl:part name="parameters" element="ns:getCassandraConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="isClusteringEnabledRequest">
        <wsdl:part name="parameters" element="ns:isClusteringEnabled" />
    </wsdl:message>
    <wsdl:message name="isClusteringEnabledResponse">
        <wsdl:part name="parameters" element="ns:isClusteringEnabledResponse" />
    </wsdl:message>
    <wsdl:message name="getAllTopicsForNodeRequest">
        <wsdl:part name="parameters" element="ns:getAllTopicsForNode" />
    </wsdl:message>
    <wsdl:message name="getAllTopicsForNodeResponse">
        <wsdl:part name="parameters" element="ns:getAllTopicsForNodeResponse" />
    </wsdl:message>
    <wsdl:message name="getAllNodeDetailRequest">
        <wsdl:part name="parameters" element="ns:getAllNodeDetail" />
    </wsdl:message>
    <wsdl:message name="getAllNodeDetailResponse">
        <wsdl:part name="parameters" element="ns:getAllNodeDetailResponse" />
    </wsdl:message>
    <wsdl:message name="getNumberOfMessagesForQueueRequest">
        <wsdl:part name="parameters" element="ns:getNumberOfMessagesForQueue" />
    </wsdl:message>
    <wsdl:message name="getNumberOfMessagesForQueueResponse">
        <wsdl:part name="parameters" element="ns:getNumberOfMessagesForQueueResponse" />
    </wsdl:message>
    <wsdl:message name="getNumberofSubscriptionsForTopicRequest">
        <wsdl:part name="parameters" element="ns:getNumberofSubscriptionsForTopic" />
    </wsdl:message>
    <wsdl:message name="getNumberofSubscriptionsForTopicResponse">
        <wsdl:part name="parameters" element="ns:getNumberofSubscriptionsForTopicResponse" />
    </wsdl:message>
    <wsdl:message name="updateWorkerForQueueRequest">
        <wsdl:part name="parameters" element="ns:updateWorkerForQueue" />
    </wsdl:message>
    <wsdl:message name="updateWorkerForQueueResponse">
        <wsdl:part name="parameters" element="ns:updateWorkerForQueueResponse" />
    </wsdl:message>
    <wsdl:message name="getNumOfNodesRequest">
        <wsdl:part name="parameters" element="ns:getNumOfNodes" />
    </wsdl:message>
    <wsdl:message name="getNumOfNodesResponse">
        <wsdl:part name="parameters" element="ns:getNumOfNodesResponse" />
    </wsdl:message>
    <wsdl:portType name="AndesManagerServicePortType">
        <wsdl:operation name="getNumberOfQueues">
            <wsdl:input message="ns:getNumberOfQueuesRequest" wsaw:Action="urn:getNumberOfQueues" />
            <wsdl:output message="ns:getNumberOfQueuesResponse" wsaw:Action="urn:getNumberOfQueuesResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getNumberOfQueuesAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getNumberOfTopics">
            <wsdl:input message="ns:getNumberOfTopicsRequest" wsaw:Action="urn:getNumberOfTopics" />
            <wsdl:output message="ns:getNumberOfTopicsResponse" wsaw:Action="urn:getNumberOfTopicsResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getNumberOfTopicsAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getThroughputForNode">
            <wsdl:input message="ns:getThroughputForNodeRequest" wsaw:Action="urn:getThroughputForNode" />
            <wsdl:output message="ns:getThroughputForNodeResponse" wsaw:Action="urn:getThroughputForNodeResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getThroughputForNodeAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getMemoryUsage">
            <wsdl:input message="ns:getMemoryUsageRequest" wsaw:Action="urn:getMemoryUsage" />
            <wsdl:output message="ns:getMemoryUsageResponse" wsaw:Action="urn:getMemoryUsageResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getMemoryUsageAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getZookeeperConnection">
            <wsdl:input message="ns:getZookeeperConnectionRequest" wsaw:Action="urn:getZookeeperConnection" />
            <wsdl:output message="ns:getZookeeperConnectionResponse" wsaw:Action="urn:getZookeeperConnectionResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getZookeeperConnectionAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllQueuesForNode">
            <wsdl:input message="ns:getAllQueuesForNodeRequest" wsaw:Action="urn:getAllQueuesForNode" />
            <wsdl:output message="ns:getAllQueuesForNodeResponse" wsaw:Action="urn:getAllQueuesForNodeResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getAllQueuesForNodeAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <wsdl:input message="ns:getMyNodeIDRequest" wsaw:Action="urn:getMyNodeID" />
            <wsdl:output message="ns:getMyNodeIDResponse" wsaw:Action="urn:getMyNodeIDResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:getMyNodeIDAndesManagerServiceClusterMgtException" />
        </wsdl:operation>
        <wsdl:operation name="getCassandraConnection">
            <wsdl:input message="ns:getCassandraConnectionRequest" wsaw:Action="urn:getCassandraConnection" />
            <wsdl:output message="ns:getCassandraConnectionResponse" wsaw:Action="urn:getCassandraConnectionResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getCassandraConnectionAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <wsdl:input message="ns:isClusteringEnabledRequest" wsaw:Action="urn:isClusteringEnabled" />
            <wsdl:output message="ns:isClusteringEnabledResponse" wsaw:Action="urn:isClusteringEnabledResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:isClusteringEnabledAndesManagerServiceClusterMgtException" />
        </wsdl:operation>
        <wsdl:operation name="getAllTopicsForNode">
            <wsdl:input message="ns:getAllTopicsForNodeRequest" wsaw:Action="urn:getAllTopicsForNode" />
            <wsdl:output message="ns:getAllTopicsForNodeResponse" wsaw:Action="urn:getAllTopicsForNodeResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getAllTopicsForNodeAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllNodeDetail">
            <wsdl:input message="ns:getAllNodeDetailRequest" wsaw:Action="urn:getAllNodeDetail" />
            <wsdl:output message="ns:getAllNodeDetailResponse" wsaw:Action="urn:getAllNodeDetailResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getAllNodeDetailAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getNumberOfMessagesForQueue">
            <wsdl:input message="ns:getNumberOfMessagesForQueueRequest" wsaw:Action="urn:getNumberOfMessagesForQueue" />
            <wsdl:output message="ns:getNumberOfMessagesForQueueResponse" wsaw:Action="urn:getNumberOfMessagesForQueueResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getNumberOfMessagesForQueueAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getNumberofSubscriptionsForTopic">
            <wsdl:input message="ns:getNumberofSubscriptionsForTopicRequest" wsaw:Action="urn:getNumberofSubscriptionsForTopic" />
            <wsdl:output message="ns:getNumberofSubscriptionsForTopicResponse" wsaw:Action="urn:getNumberofSubscriptionsForTopicResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getNumberofSubscriptionsForTopicAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateWorkerForQueue">
            <wsdl:input message="ns:updateWorkerForQueueRequest" wsaw:Action="urn:updateWorkerForQueue" />
            <wsdl:output message="ns:updateWorkerForQueueResponse" wsaw:Action="urn:updateWorkerForQueueResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtException" name="AndesManagerServiceClusterMgtException" wsaw:Action="urn:updateWorkerForQueueAndesManagerServiceClusterMgtException" />
        </wsdl:operation>
        <wsdl:operation name="getNumOfNodes">
            <wsdl:input message="ns:getNumOfNodesRequest" wsaw:Action="urn:getNumOfNodes" />
            <wsdl:output message="ns:getNumOfNodesResponse" wsaw:Action="urn:getNumOfNodesResponse" />
            <wsdl:fault message="ns:AndesManagerServiceClusterMgtAdminException" name="AndesManagerServiceClusterMgtAdminException" wsaw:Action="urn:getNumOfNodesAndesManagerServiceClusterMgtAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AndesManagerServiceSoap11Binding" type="ns:AndesManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getNumberOfQueues">
            <soap:operation soapAction="urn:getNumberOfQueues" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfTopics">
            <soap:operation soapAction="urn:getNumberOfTopics" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThroughputForNode">
            <soap:operation soapAction="urn:getThroughputForNode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZookeeperConnection">
            <soap:operation soapAction="urn:getZookeeperConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMemoryUsage">
            <soap:operation soapAction="urn:getMemoryUsage" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <soap:operation soapAction="urn:getMyNodeID" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllQueuesForNode">
            <soap:operation soapAction="urn:getAllQueuesForNode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCassandraConnection">
            <soap:operation soapAction="urn:getCassandraConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <soap:operation soapAction="urn:isClusteringEnabled" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTopicsForNode">
            <soap:operation soapAction="urn:getAllTopicsForNode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllNodeDetail">
            <soap:operation soapAction="urn:getAllNodeDetail" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateWorkerForQueue">
            <soap:operation soapAction="urn:updateWorkerForQueue" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberofSubscriptionsForTopic">
            <soap:operation soapAction="urn:getNumberofSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfMessagesForQueue">
            <soap:operation soapAction="urn:getNumberOfMessagesForQueue" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumOfNodes">
            <soap:operation soapAction="urn:getNumOfNodes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesManagerServiceSoap12Binding" type="ns:AndesManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getNumberOfQueues">
            <soap12:operation soapAction="urn:getNumberOfQueues" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfTopics">
            <soap12:operation soapAction="urn:getNumberOfTopics" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThroughputForNode">
            <soap12:operation soapAction="urn:getThroughputForNode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZookeeperConnection">
            <soap12:operation soapAction="urn:getZookeeperConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMemoryUsage">
            <soap12:operation soapAction="urn:getMemoryUsage" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <soap12:operation soapAction="urn:getMyNodeID" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllQueuesForNode">
            <soap12:operation soapAction="urn:getAllQueuesForNode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCassandraConnection">
            <soap12:operation soapAction="urn:getCassandraConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <soap12:operation soapAction="urn:isClusteringEnabled" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTopicsForNode">
            <soap12:operation soapAction="urn:getAllTopicsForNode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllNodeDetail">
            <soap12:operation soapAction="urn:getAllNodeDetail" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateWorkerForQueue">
            <soap12:operation soapAction="urn:updateWorkerForQueue" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberofSubscriptionsForTopic">
            <soap12:operation soapAction="urn:getNumberofSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfMessagesForQueue">
            <soap12:operation soapAction="urn:getNumberOfMessagesForQueue" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumOfNodes">
            <soap12:operation soapAction="urn:getNumOfNodes" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AndesManagerServiceClusterMgtAdminException">
                <soap12:fault use="literal" name="AndesManagerServiceClusterMgtAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesManagerServiceHttpBinding" type="ns:AndesManagerServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getNumberOfQueues">
            <http:operation location="getNumberOfQueues" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfTopics">
            <http:operation location="getNumberOfTopics" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getThroughputForNode">
            <http:operation location="getThroughputForNode" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getZookeeperConnection">
            <http:operation location="getZookeeperConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMemoryUsage">
            <http:operation location="getMemoryUsage" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMyNodeID">
            <http:operation location="getMyNodeID" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueuesForNode">
            <http:operation location="getAllQueuesForNode" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCassandraConnection">
            <http:operation location="getCassandraConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isClusteringEnabled">
            <http:operation location="isClusteringEnabled" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTopicsForNode">
            <http:operation location="getAllTopicsForNode" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllNodeDetail">
            <http:operation location="getAllNodeDetail" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWorkerForQueue">
            <http:operation location="updateWorkerForQueue" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberofSubscriptionsForTopic">
            <http:operation location="getNumberofSubscriptionsForTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfMessagesForQueue">
            <http:operation location="getNumberOfMessagesForQueue" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumOfNodes">
            <http:operation location="getNumOfNodes" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AndesManagerService">
        <wsdl:port name="AndesManagerServiceHttpsSoap11Endpoint" binding="ns:AndesManagerServiceSoap11Binding">
            <soap:address location="https://10.113.107.143:9444/services/AndesManagerService.AndesManagerServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AndesManagerServiceHttpsSoap12Endpoint" binding="ns:AndesManagerServiceSoap12Binding">
            <soap12:address location="https://10.113.107.143:9444/services/AndesManagerService.AndesManagerServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AndesManagerServiceHttpsEndpoint" binding="ns:AndesManagerServiceHttpBinding">
            <http:address location="https://10.113.107.143:9444/services/AndesManagerService.AndesManagerServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>