service-stubs/org.wso2.carbon.andes.stub/AndesAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://wso2.org/carbon/andes/admin/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://internal.admin.andes.carbon.wso2.org/xsd" xmlns:tns="http://wso2.org/carbon/andes/admin" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://Exception.internal.admin.andes.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wso2.org/carbon/andes/admin">
    <wsdl:documentation>AndesAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="BrokerManagerAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultString" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="durable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="numberOfMessagesRemainingForSubscriber" type="xs:int"/>
                    <xs:element minOccurs="0" name="subscribedQueueOrTopicName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberNodeAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberQueueBoundExchange" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberQueueName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriptionIdentifier" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Queue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdFrom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="messageCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="queueDepth" type="xs:long"/>
                    <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedTime" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax26="http://internal.admin.andes.carbon.wso2.org/xsd" xmlns:ax24="http://Exception.internal.admin.andes.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/carbon/andes/admin/xsd">
            <xs:import namespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:element name="AndesAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AndesAdminServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restoreMessagesFromDeadLetterQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="purgeMessagesOfQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AndesAdminServiceBrokerManagerAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BrokerManagerAdminException" nillable="true" type="ax23:BrokerManagerAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="msgPattern" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentUser">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueues">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueuesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Queue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempTopicSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempTopicSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempQueueSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempQueueSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableTopicSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableTopicSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableQueueSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableQueueSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKey">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMessagesFromDeadLetterQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteMessagesFromDeadLetterQueueRequest">
        <wsdl:part name="parameters" element="ns:deleteMessagesFromDeadLetterQueue"/>
    </wsdl:message>
    <wsdl:message name="AndesAdminServiceException">
        <wsdl:part name="parameters" element="ns:AndesAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableTopicSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllDurableTopicSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableTopicSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllDurableTopicSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="AndesAdminServiceBrokerManagerAdminException">
        <wsdl:part name="parameters" element="ns:AndesAdminServiceBrokerManagerAdminException"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountForQueueRequest">
        <wsdl:part name="parameters" element="ns:getMessageCountForQueue"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountForQueueResponse">
        <wsdl:part name="parameters" element="ns:getMessageCountForQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesRequest">
        <wsdl:part name="parameters" element="ns:getAllQueues"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesResponse">
        <wsdl:part name="parameters" element="ns:getAllQueuesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccessKeyRequest">
        <wsdl:part name="parameters" element="ns:getAccessKey"/>
    </wsdl:message>
    <wsdl:message name="getAccessKeyResponse">
        <wsdl:part name="parameters" element="ns:getAccessKeyResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempQueueSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllLocalTempQueueSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempQueueSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllLocalTempQueueSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableQueueSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllDurableQueueSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableQueueSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllDurableQueueSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="createQueueRequest">
        <wsdl:part name="parameters" element="ns:createQueue"/>
    </wsdl:message>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueRequest">
        <wsdl:part name="parameters" element="ns:restoreMessagesFromDeadLetterQueue"/>
    </wsdl:message>
    <wsdl:message name="purgeMessagesOfQueueRequest">
        <wsdl:part name="parameters" element="ns:purgeMessagesOfQueue"/>
    </wsdl:message>
    <wsdl:message name="deleteQueueRequest">
        <wsdl:part name="parameters" element="ns:deleteQueue"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempTopicSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllLocalTempTopicSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempTopicSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllLocalTempTopicSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrentUserRequest">
        <wsdl:part name="parameters" element="ns:getCurrentUser"/>
    </wsdl:message>
    <wsdl:message name="getCurrentUserResponse">
        <wsdl:part name="parameters" element="ns:getCurrentUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueWithDifferentDestinationRequest">
        <wsdl:part name="parameters" element="ns:restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
    </wsdl:message>
    <wsdl:portType name="AndesAdminServicePortType">
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <wsdl:input message="tns:deleteMessagesFromDeadLetterQueueRequest" wsaw:Action="urn:deleteMessagesFromDeadLetterQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceException" name="AndesAdminServiceException" wsaw:Action="urn:deleteMessagesFromDeadLetterQueueAndesAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <wsdl:input message="tns:getAllDurableTopicSubscriptionsRequest" wsaw:Action="urn:getAllDurableTopicSubscriptions"/>
            <wsdl:output message="tns:getAllDurableTopicSubscriptionsResponse" wsaw:Action="urn:getAllDurableTopicSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllDurableTopicSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForQueue">
            <wsdl:input message="tns:getMessageCountForQueueRequest" wsaw:Action="urn:getMessageCountForQueue"/>
            <wsdl:output message="tns:getMessageCountForQueueResponse" wsaw:Action="urn:getMessageCountForQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getMessageCountForQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <wsdl:input message="tns:getAllQueuesRequest" wsaw:Action="urn:getAllQueues"/>
            <wsdl:output message="tns:getAllQueuesResponse" wsaw:Action="urn:getAllQueuesResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllQueuesAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <wsdl:input message="tns:getAccessKeyRequest" wsaw:Action="urn:getAccessKey"/>
            <wsdl:output message="tns:getAccessKeyResponse" wsaw:Action="urn:getAccessKeyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <wsdl:input message="tns:getAllLocalTempQueueSubscriptionsRequest" wsaw:Action="urn:getAllLocalTempQueueSubscriptions"/>
            <wsdl:output message="tns:getAllLocalTempQueueSubscriptionsResponse" wsaw:Action="urn:getAllLocalTempQueueSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllLocalTempQueueSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <wsdl:input message="tns:getAllDurableQueueSubscriptionsRequest" wsaw:Action="urn:getAllDurableQueueSubscriptions"/>
            <wsdl:output message="tns:getAllDurableQueueSubscriptionsResponse" wsaw:Action="urn:getAllDurableQueueSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllDurableQueueSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <wsdl:input message="tns:createQueueRequest" wsaw:Action="urn:createQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:createQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <wsdl:input message="tns:restoreMessagesFromDeadLetterQueueRequest" wsaw:Action="urn:restoreMessagesFromDeadLetterQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceException" name="AndesAdminServiceException" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueAndesAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <wsdl:input message="tns:purgeMessagesOfQueueRequest" wsaw:Action="urn:purgeMessagesOfQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceException" name="AndesAdminServiceException" wsaw:Action="urn:purgeMessagesOfQueueAndesAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <wsdl:input message="tns:deleteQueueRequest" wsaw:Action="urn:deleteQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:deleteQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <wsdl:input message="tns:getAllLocalTempTopicSubscriptionsRequest" wsaw:Action="urn:getAllLocalTempTopicSubscriptions"/>
            <wsdl:output message="tns:getAllLocalTempTopicSubscriptionsResponse" wsaw:Action="urn:getAllLocalTempTopicSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllLocalTempTopicSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <wsdl:input message="tns:getCurrentUserRequest" wsaw:Action="urn:getCurrentUser"/>
            <wsdl:output message="tns:getCurrentUserResponse" wsaw:Action="urn:getCurrentUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <wsdl:input message="tns:getAllSubscriptionsRequest" wsaw:Action="urn:getAllSubscriptions"/>
            <wsdl:output message="tns:getAllSubscriptionsResponse" wsaw:Action="urn:getAllSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <wsdl:input message="tns:restoreMessagesFromDeadLetterQueueWithDifferentDestinationRequest" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
            <wsdl:fault message="tns:AndesAdminServiceException" name="AndesAdminServiceException" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestinationAndesAdminServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AndesAdminServiceSoap11Binding" type="tns:AndesAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMessageCountForQueue">
            <soap:operation soapAction="urn:getMessageCountForQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <soap:operation soapAction="urn:getAllDurableTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <soap:operation soapAction="urn:deleteMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <soap:operation soapAction="urn:getAllLocalTempQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <soap:operation soapAction="urn:getAllDurableQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <soap:operation soapAction="urn:restoreMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <soap:operation soapAction="urn:purgeMessagesOfQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <soap:operation soapAction="urn:getAllLocalTempTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <soap:operation soapAction="urn:getAllSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <soap:operation soapAction="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceSoap12Binding" type="tns:AndesAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMessageCountForQueue">
            <soap12:operation soapAction="urn:getMessageCountForQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <soap12:operation soapAction="urn:getAllDurableTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <soap12:operation soapAction="urn:deleteMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap12:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap12:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap12:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <soap12:operation soapAction="urn:getAllLocalTempQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <soap12:operation soapAction="urn:getAllDurableQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap12:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <soap12:operation soapAction="urn:restoreMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap12:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <soap12:operation soapAction="urn:purgeMessagesOfQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap12:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap12:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap12:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <soap12:operation soapAction="urn:getAllLocalTempTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <soap12:operation soapAction="urn:getAllSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <soap12:operation soapAction="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceException">
                <soap12:fault use="literal" name="AndesAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceHttpBinding" type="tns:AndesAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getMessageCountForQueue">
            <http:operation location="getMessageCountForQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <http:operation location="getAllDurableTopicSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <http:operation location="deleteMessagesFromDeadLetterQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <http:operation location="getAccessKey"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <http:operation location="getAllQueues"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <http:operation location="getAllLocalTempQueueSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <http:operation location="getAllDurableQueueSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <http:operation location="createQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <http:operation location="restoreMessagesFromDeadLetterQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <http:operation location="purgeMessagesOfQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <http:operation location="deleteQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <http:operation location="getCurrentUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <http:operation location="getAllLocalTempTopicSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <http:operation location="getAllSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <http:operation location="restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AndesAdminService">
        <wsdl:port name="AndesAdminServiceHttpsSoap11Endpoint" binding="tns:AndesAdminServiceSoap11Binding">
            <soap:address location="https://10.100.1.146:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsSoap12Endpoint" binding="tns:AndesAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.1.146:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsEndpoint" binding="tns:AndesAdminServiceHttpBinding">
            <http:address location="https://10.100.1.146:9443/services/AndesAdminService.AndesAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
