service-stubs/org.wso2.carbon.andes.stub/src/main/resources/AndesAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://wso2.org/carbon/andes/admin/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://wso2.org/carbon/andes/admin" xmlns:ax23="http://internal.admin.andes.carbon.wso2.org/xsd" xmlns:ax21="http://Exception.internal.admin.andes.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wso2.org/carbon/andes/admin">
    <wsdl:documentation>AndesAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="BrokerManagerAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="Queue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdFrom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="messageCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="queueDepth" type="xs:long"/>
                    <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedTime" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="durable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="numberOfMessagesRemainingForSubscriber" type="xs:int"/>
                    <xs:element minOccurs="0" name="subscribedQueueOrTopicName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberNodeAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberQueueBoundExchange" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberQueueName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriptionIdentifier" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="JMSCorrelationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="JMSDeliveredMode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="JMSExpiration" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="JMSMessageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="JMSPriority" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="JMSReDelivered" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="JMSTimeStamp" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="JMSType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="andesMsgMetadataId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dlcMsgDestination" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="msgProperties" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueueRolePermission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="allowedToConsume" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="allowedToPublish" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://Exception.internal.admin.andes.carbon.wso2.org/xsd" xmlns:ax24="http://internal.admin.andes.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/carbon/andes/admin/xsd">
            <xs:import namespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:element name="AndesAdminServiceBrokerManagerAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BrokerManagerAdminException" nillable="true" type="ax21:BrokerManagerAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="jmsType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="jmsCorrelationID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numberOfMessages" type="xs:int"/>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="deliveryMode" type="xs:int"/>
                        <xs:element minOccurs="0" name="priority" type="xs:int"/>
                        <xs:element minOccurs="0" name="expireTime" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKey">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueues">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueuesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Queue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="destinationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="msgPattern" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTopicFromRegistry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topicName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subscriptionId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restoreMessagesFromDeadLetterQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" type="xs:long"/>
                        <xs:element minOccurs="0" name="destinationQueueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" type="xs:long"/>
                        <xs:element minOccurs="0" name="newDestinationQueueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="destinationQueueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMessagesFromDeadLetterQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messageIDs" type="xs:long"/>
                        <xs:element minOccurs="0" name="destinationQueueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="purgeMessagesOfQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableQueueSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableQueueSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempQueueSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempQueueSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableTopicSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDurableTopicSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempTopicSubscriptions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalTempTopicSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberMessagesInDLCForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberMessagesInDLCForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageInDLCForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="nextMessageIdToRead" type="xs:long"/>
                        <xs:element minOccurs="0" name="maxMsgCount" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageInDLCForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="queueRolePermissionsDTO" nillable="true" type="ax23:QueueRolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addQueueAndAssignPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="queueRolePermissionsDTO" nillable="true" type="ax24:QueueRolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRoles">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRolesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQueueRolePermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQueueRolePermissionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:QueueRolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="browseQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="nextMessageIdToRead" type="xs:long"/>
                        <xs:element minOccurs="0" name="maxMsgCount" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="browseQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTotalMessagesInQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTotalMessagesInQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForSubscriber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="durable" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForSubscriberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkCurrentUserHasPublishPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkCurrentUserHasPublishPermissionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkUserHasPublishPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkUserHasPublishPermissionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllDurableTopicSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllDurableTopicSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableTopicSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllDurableTopicSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="AndesAdminServiceBrokerManagerAdminException">
        <wsdl:part name="parameters" element="ns:AndesAdminServiceBrokerManagerAdminException"/>
    </wsdl:message>
    <wsdl:message name="deleteMessagesFromDeadLetterQueueRequest">
        <wsdl:part name="parameters" element="ns:deleteMessagesFromDeadLetterQueue"/>
    </wsdl:message>
    <wsdl:message name="deleteMessagesFromDeadLetterQueueResponse"/>
    <wsdl:message name="getAccessKeyRequest">
        <wsdl:part name="parameters" element="ns:getAccessKey"/>
    </wsdl:message>
    <wsdl:message name="getAccessKeyResponse">
        <wsdl:part name="parameters" element="ns:getAccessKeyResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempQueueSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllLocalTempQueueSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempQueueSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllLocalTempQueueSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageInDLCForQueueRequest">
        <wsdl:part name="parameters" element="ns:getMessageInDLCForQueue"/>
    </wsdl:message>
    <wsdl:message name="getMessageInDLCForQueueResponse">
        <wsdl:part name="parameters" element="ns:getMessageInDLCForQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesRequest">
        <wsdl:part name="parameters" element="ns:getAllQueues"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesResponse">
        <wsdl:part name="parameters" element="ns:getAllQueuesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableQueueSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllDurableQueueSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllDurableQueueSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllDurableQueueSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="updatePermissionRequest">
        <wsdl:part name="parameters" element="ns:updatePermission"/>
    </wsdl:message>
    <wsdl:message name="updatePermissionResponse"/>
    <wsdl:message name="addQueueAndAssignPermissionRequest">
        <wsdl:part name="parameters" element="ns:addQueueAndAssignPermission"/>
    </wsdl:message>
    <wsdl:message name="addQueueAndAssignPermissionResponse"/>
    <wsdl:message name="sendMessageRequest">
        <wsdl:part name="parameters" element="ns:sendMessage"/>
    </wsdl:message>
    <wsdl:message name="sendMessageResponse">
        <wsdl:part name="parameters" element="ns:sendMessageResponse"/>
    </wsdl:message>
    <wsdl:message name="createQueueRequest">
        <wsdl:part name="parameters" element="ns:createQueue"/>
    </wsdl:message>
    <wsdl:message name="createQueueResponse"/>
    <wsdl:message name="deleteTopicFromRegistryRequest">
        <wsdl:part name="parameters" element="ns:deleteTopicFromRegistry"/>
    </wsdl:message>
    <wsdl:message name="deleteTopicFromRegistryResponse"/>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueRequest">
        <wsdl:part name="parameters" element="ns:restoreMessagesFromDeadLetterQueue"/>
    </wsdl:message>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueResponse"/>
    <wsdl:message name="purgeMessagesOfQueueRequest">
        <wsdl:part name="parameters" element="ns:purgeMessagesOfQueue"/>
    </wsdl:message>
    <wsdl:message name="purgeMessagesOfQueueResponse"/>
    <wsdl:message name="checkCurrentUserHasPublishPermissionRequest">
        <wsdl:part name="parameters" element="ns:checkCurrentUserHasPublishPermission"/>
    </wsdl:message>
    <wsdl:message name="checkCurrentUserHasPublishPermissionResponse">
        <wsdl:part name="parameters" element="ns:checkCurrentUserHasPublishPermissionResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountForSubscriberRequest">
        <wsdl:part name="parameters" element="ns:getMessageCountForSubscriber"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountForSubscriberResponse">
        <wsdl:part name="parameters" element="ns:getMessageCountForSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="browseQueueRequest">
        <wsdl:part name="parameters" element="ns:browseQueue"/>
    </wsdl:message>
    <wsdl:message name="browseQueueResponse">
        <wsdl:part name="parameters" element="ns:browseQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="getTotalMessagesInQueueRequest">
        <wsdl:part name="parameters" element="ns:getTotalMessagesInQueue"/>
    </wsdl:message>
    <wsdl:message name="getTotalMessagesInQueueResponse">
        <wsdl:part name="parameters" element="ns:getTotalMessagesInQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteQueueRequest">
        <wsdl:part name="parameters" element="ns:deleteQueue"/>
    </wsdl:message>
    <wsdl:message name="deleteQueueResponse"/>
    <wsdl:message name="getAllLocalTempTopicSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllLocalTempTopicSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllLocalTempTopicSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllLocalTempTopicSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getQueueRolePermissionRequest">
        <wsdl:part name="parameters" element="ns:getQueueRolePermission"/>
    </wsdl:message>
    <wsdl:message name="getQueueRolePermissionResponse">
        <wsdl:part name="parameters" element="ns:getQueueRolePermissionResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountRequest">
        <wsdl:part name="parameters" element="ns:getMessageCount"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountResponse">
        <wsdl:part name="parameters" element="ns:getMessageCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserRolesRequest">
        <wsdl:part name="parameters" element="ns:getUserRoles"/>
    </wsdl:message>
    <wsdl:message name="getUserRolesResponse">
        <wsdl:part name="parameters" element="ns:getUserRolesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getAllSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getAllSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getAllSubscriptionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getNumberMessagesInDLCForQueueRequest">
        <wsdl:part name="parameters" element="ns:getNumberMessagesInDLCForQueue"/>
    </wsdl:message>
    <wsdl:message name="getNumberMessagesInDLCForQueueResponse">
        <wsdl:part name="parameters" element="ns:getNumberMessagesInDLCForQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="checkUserHasPublishPermissionRequest">
        <wsdl:part name="parameters" element="ns:checkUserHasPublishPermission"/>
    </wsdl:message>
    <wsdl:message name="checkUserHasPublishPermissionResponse">
        <wsdl:part name="parameters" element="ns:checkUserHasPublishPermissionResponse"/>
    </wsdl:message>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueWithDifferentDestinationRequest">
        <wsdl:part name="parameters" element="ns:restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
    </wsdl:message>
    <wsdl:message name="restoreMessagesFromDeadLetterQueueWithDifferentDestinationResponse"/>
    <wsdl:portType name="AndesAdminServicePortType">
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <wsdl:input message="tns:getAllDurableTopicSubscriptionsRequest" wsaw:Action="urn:getAllDurableTopicSubscriptions"/>
            <wsdl:output message="tns:getAllDurableTopicSubscriptionsResponse" wsaw:Action="urn:getAllDurableTopicSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllDurableTopicSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <wsdl:input message="tns:deleteMessagesFromDeadLetterQueueRequest" wsaw:Action="urn:deleteMessagesFromDeadLetterQueue"/>
            <wsdl:output message="tns:deleteMessagesFromDeadLetterQueueResponse" wsaw:Action="urn:deleteMessagesFromDeadLetterQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:deleteMessagesFromDeadLetterQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <wsdl:input message="tns:getAccessKeyRequest" wsaw:Action="urn:getAccessKey"/>
            <wsdl:output message="tns:getAccessKeyResponse" wsaw:Action="urn:getAccessKeyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <wsdl:input message="tns:getAllLocalTempQueueSubscriptionsRequest" wsaw:Action="urn:getAllLocalTempQueueSubscriptions"/>
            <wsdl:output message="tns:getAllLocalTempQueueSubscriptionsResponse" wsaw:Action="urn:getAllLocalTempQueueSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllLocalTempQueueSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageInDLCForQueue">
            <wsdl:input message="tns:getMessageInDLCForQueueRequest" wsaw:Action="urn:getMessageInDLCForQueue"/>
            <wsdl:output message="tns:getMessageInDLCForQueueResponse" wsaw:Action="urn:getMessageInDLCForQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getMessageInDLCForQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <wsdl:input message="tns:getAllQueuesRequest" wsaw:Action="urn:getAllQueues"/>
            <wsdl:output message="tns:getAllQueuesResponse" wsaw:Action="urn:getAllQueuesResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllQueuesAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <wsdl:input message="tns:getAllDurableQueueSubscriptionsRequest" wsaw:Action="urn:getAllDurableQueueSubscriptions"/>
            <wsdl:output message="tns:getAllDurableQueueSubscriptionsResponse" wsaw:Action="urn:getAllDurableQueueSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllDurableQueueSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <wsdl:input message="tns:updatePermissionRequest" wsaw:Action="urn:updatePermission"/>
            <wsdl:output message="tns:updatePermissionResponse" wsaw:Action="urn:updatePermissionResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:updatePermissionAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addQueueAndAssignPermission">
            <wsdl:input message="tns:addQueueAndAssignPermissionRequest" wsaw:Action="urn:addQueueAndAssignPermission"/>
            <wsdl:output message="tns:addQueueAndAssignPermissionResponse" wsaw:Action="urn:addQueueAndAssignPermissionResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:addQueueAndAssignPermissionAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="sendMessage">
            <wsdl:input message="tns:sendMessageRequest" wsaw:Action="urn:sendMessage"/>
            <wsdl:output message="tns:sendMessageResponse" wsaw:Action="urn:sendMessageResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:sendMessageAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <wsdl:input message="tns:createQueueRequest" wsaw:Action="urn:createQueue"/>
            <wsdl:output message="tns:createQueueResponse" wsaw:Action="urn:createQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:createQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteTopicFromRegistry">
            <wsdl:input message="tns:deleteTopicFromRegistryRequest" wsaw:Action="urn:deleteTopicFromRegistry"/>
            <wsdl:output message="tns:deleteTopicFromRegistryResponse" wsaw:Action="urn:deleteTopicFromRegistryResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:deleteTopicFromRegistryAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <wsdl:input message="tns:restoreMessagesFromDeadLetterQueueRequest" wsaw:Action="urn:restoreMessagesFromDeadLetterQueue"/>
            <wsdl:output message="tns:restoreMessagesFromDeadLetterQueueResponse" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <wsdl:input message="tns:purgeMessagesOfQueueRequest" wsaw:Action="urn:purgeMessagesOfQueue"/>
            <wsdl:output message="tns:purgeMessagesOfQueueResponse" wsaw:Action="urn:purgeMessagesOfQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:purgeMessagesOfQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="checkCurrentUserHasPublishPermission">
            <wsdl:input message="tns:checkCurrentUserHasPublishPermissionRequest" wsaw:Action="urn:checkCurrentUserHasPublishPermission"/>
            <wsdl:output message="tns:checkCurrentUserHasPublishPermissionResponse" wsaw:Action="urn:checkCurrentUserHasPublishPermissionResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:checkCurrentUserHasPublishPermissionAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForSubscriber">
            <wsdl:input message="tns:getMessageCountForSubscriberRequest" wsaw:Action="urn:getMessageCountForSubscriber"/>
            <wsdl:output message="tns:getMessageCountForSubscriberResponse" wsaw:Action="urn:getMessageCountForSubscriberResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getMessageCountForSubscriberAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="browseQueue">
            <wsdl:input message="tns:browseQueueRequest" wsaw:Action="urn:browseQueue"/>
            <wsdl:output message="tns:browseQueueResponse" wsaw:Action="urn:browseQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:browseQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getTotalMessagesInQueue">
            <wsdl:input message="tns:getTotalMessagesInQueueRequest" wsaw:Action="urn:getTotalMessagesInQueue"/>
            <wsdl:output message="tns:getTotalMessagesInQueueResponse" wsaw:Action="urn:getTotalMessagesInQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getTotalMessagesInQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <wsdl:input message="tns:deleteQueueRequest" wsaw:Action="urn:deleteQueue"/>
            <wsdl:output message="tns:deleteQueueResponse" wsaw:Action="urn:deleteQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:deleteQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <wsdl:input message="tns:getAllLocalTempTopicSubscriptionsRequest" wsaw:Action="urn:getAllLocalTempTopicSubscriptions"/>
            <wsdl:output message="tns:getAllLocalTempTopicSubscriptionsResponse" wsaw:Action="urn:getAllLocalTempTopicSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllLocalTempTopicSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getQueueRolePermission">
            <wsdl:input message="tns:getQueueRolePermissionRequest" wsaw:Action="urn:getQueueRolePermission"/>
            <wsdl:output message="tns:getQueueRolePermissionResponse" wsaw:Action="urn:getQueueRolePermissionResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getQueueRolePermissionAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageCount">
            <wsdl:input message="tns:getMessageCountRequest" wsaw:Action="urn:getMessageCount"/>
            <wsdl:output message="tns:getMessageCountResponse" wsaw:Action="urn:getMessageCountResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getMessageCountAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <wsdl:input message="tns:getUserRolesRequest" wsaw:Action="urn:getUserRoles"/>
            <wsdl:output message="tns:getUserRolesResponse" wsaw:Action="urn:getUserRolesResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getUserRolesAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <wsdl:input message="tns:getAllSubscriptionsRequest" wsaw:Action="urn:getAllSubscriptions"/>
            <wsdl:output message="tns:getAllSubscriptionsResponse" wsaw:Action="urn:getAllSubscriptionsResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getAllSubscriptionsAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getNumberMessagesInDLCForQueue">
            <wsdl:input message="tns:getNumberMessagesInDLCForQueueRequest" wsaw:Action="urn:getNumberMessagesInDLCForQueue"/>
            <wsdl:output message="tns:getNumberMessagesInDLCForQueueResponse" wsaw:Action="urn:getNumberMessagesInDLCForQueueResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:getNumberMessagesInDLCForQueueAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="checkUserHasPublishPermission">
            <wsdl:input message="tns:checkUserHasPublishPermissionRequest" wsaw:Action="urn:checkUserHasPublishPermission"/>
            <wsdl:output message="tns:checkUserHasPublishPermissionResponse" wsaw:Action="urn:checkUserHasPublishPermissionResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:checkUserHasPublishPermissionAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <wsdl:input message="tns:restoreMessagesFromDeadLetterQueueWithDifferentDestinationRequest" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
            <wsdl:output message="tns:restoreMessagesFromDeadLetterQueueWithDifferentDestinationResponse" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestinationResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceBrokerManagerAdminException" name="AndesAdminServiceBrokerManagerAdminException" wsaw:Action="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestinationAndesAdminServiceBrokerManagerAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AndesAdminServiceSoap11Binding" type="tns:AndesAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <soap:operation soapAction="urn:deleteMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <soap:operation soapAction="urn:getAllDurableTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageInDLCForQueue">
            <soap:operation soapAction="urn:getMessageInDLCForQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <soap:operation soapAction="urn:getAllLocalTempQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <soap:operation soapAction="urn:getAllDurableQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendMessage">
            <soap:operation soapAction="urn:sendMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <soap:operation soapAction="urn:updatePermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addQueueAndAssignPermission">
            <soap:operation soapAction="urn:addQueueAndAssignPermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTopicFromRegistry">
            <soap:operation soapAction="urn:deleteTopicFromRegistry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <soap:operation soapAction="urn:restoreMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <soap:operation soapAction="urn:purgeMessagesOfQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkCurrentUserHasPublishPermission">
            <soap:operation soapAction="urn:checkCurrentUserHasPublishPermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForSubscriber">
            <soap:operation soapAction="urn:getMessageCountForSubscriber" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="browseQueue">
            <soap:operation soapAction="urn:browseQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTotalMessagesInQueue">
            <soap:operation soapAction="urn:getTotalMessagesInQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <soap:operation soapAction="urn:getAllLocalTempTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getQueueRolePermission">
            <soap:operation soapAction="urn:getQueueRolePermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <soap:operation soapAction="urn:getUserRoles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageCount">
            <soap:operation soapAction="urn:getMessageCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberMessagesInDLCForQueue">
            <soap:operation soapAction="urn:getNumberMessagesInDLCForQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <soap:operation soapAction="urn:getAllSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkUserHasPublishPermission">
            <soap:operation soapAction="urn:checkUserHasPublishPermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <soap:operation soapAction="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceSoap12Binding" type="tns:AndesAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <soap12:operation soapAction="urn:deleteMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <soap12:operation soapAction="urn:getAllDurableTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap12:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageInDLCForQueue">
            <soap12:operation soapAction="urn:getMessageInDLCForQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <soap12:operation soapAction="urn:getAllLocalTempQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap12:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <soap12:operation soapAction="urn:getAllDurableQueueSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendMessage">
            <soap12:operation soapAction="urn:sendMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <soap12:operation soapAction="urn:updatePermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addQueueAndAssignPermission">
            <soap12:operation soapAction="urn:addQueueAndAssignPermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap12:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTopicFromRegistry">
            <soap12:operation soapAction="urn:deleteTopicFromRegistry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <soap12:operation soapAction="urn:restoreMessagesFromDeadLetterQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <soap12:operation soapAction="urn:purgeMessagesOfQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkCurrentUserHasPublishPermission">
            <soap12:operation soapAction="urn:checkCurrentUserHasPublishPermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForSubscriber">
            <soap12:operation soapAction="urn:getMessageCountForSubscriber" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="browseQueue">
            <soap12:operation soapAction="urn:browseQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTotalMessagesInQueue">
            <soap12:operation soapAction="urn:getTotalMessagesInQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap12:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <soap12:operation soapAction="urn:getAllLocalTempTopicSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getQueueRolePermission">
            <soap12:operation soapAction="urn:getQueueRolePermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <soap12:operation soapAction="urn:getUserRoles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageCount">
            <soap12:operation soapAction="urn:getMessageCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNumberMessagesInDLCForQueue">
            <soap12:operation soapAction="urn:getNumberMessagesInDLCForQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <soap12:operation soapAction="urn:getAllSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkUserHasPublishPermission">
            <soap12:operation soapAction="urn:checkUserHasPublishPermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <soap12:operation soapAction="urn:restoreMessagesFromDeadLetterQueueWithDifferentDestination" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceBrokerManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceBrokerManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceHttpBinding" type="tns:AndesAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteMessagesFromDeadLetterQueue">
            <http:operation location="deleteMessagesFromDeadLetterQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableTopicSubscriptions">
            <http:operation location="getAllDurableTopicSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <http:operation location="getAccessKey"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageInDLCForQueue">
            <http:operation location="getMessageInDLCForQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempQueueSubscriptions">
            <http:operation location="getAllLocalTempQueueSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <http:operation location="getAllQueues"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDurableQueueSubscriptions">
            <http:operation location="getAllDurableQueueSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendMessage">
            <http:operation location="sendMessage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <http:operation location="updatePermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addQueueAndAssignPermission">
            <http:operation location="addQueueAndAssignPermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <http:operation location="createQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTopicFromRegistry">
            <http:operation location="deleteTopicFromRegistry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueue">
            <http:operation location="restoreMessagesFromDeadLetterQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="purgeMessagesOfQueue">
            <http:operation location="purgeMessagesOfQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkCurrentUserHasPublishPermission">
            <http:operation location="checkCurrentUserHasPublishPermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForSubscriber">
            <http:operation location="getMessageCountForSubscriber"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="browseQueue">
            <http:operation location="browseQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTotalMessagesInQueue">
            <http:operation location="getTotalMessagesInQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <http:operation location="deleteQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalTempTopicSubscriptions">
            <http:operation location="getAllLocalTempTopicSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQueueRolePermission">
            <http:operation location="getQueueRolePermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <http:operation location="getUserRoles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageCount">
            <http:operation location="getMessageCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberMessagesInDLCForQueue">
            <http:operation location="getNumberMessagesInDLCForQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSubscriptions">
            <http:operation location="getAllSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkUserHasPublishPermission">
            <http:operation location="checkUserHasPublishPermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restoreMessagesFromDeadLetterQueueWithDifferentDestination">
            <http:operation location="restoreMessagesFromDeadLetterQueueWithDifferentDestination"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AndesAdminService">
        <wsdl:port name="AndesAdminServiceHttpsSoap11Endpoint" binding="tns:AndesAdminServiceSoap11Binding">
            <soap:address location="https://192.168.0.100:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsSoap12Endpoint" binding="tns:AndesAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.0.100:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsEndpoint" binding="tns:AndesAdminServiceHttpBinding">
            <http:address location="https://192.168.0.100:9443/services/AndesAdminService.AndesAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>