service-stubs/org.wso2.carbon.andes.stub/src/main/resources/AndesAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax29="http://internal.admin.andes.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://wso2.org/carbon/andes/admin/xsd"
                  xmlns:ax27="http://Exception.internal.admin.andes.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://wso2.org/carbon/andes/admin"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://wso2.org/carbon/andes/admin">
    <wsdl:documentation>AndesAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="QueueManagerAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultString" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://internal.admin.andes.carbon.wso2.org/xsd">
            <xs:complexType name="Queue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdFrom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="messageCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="queueDepth" type="xs:long"/>
                    <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedTime" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://Exception.internal.admin.andes.carbon.wso2.org/xsd"
                   xmlns:ax210="http://internal.admin.andes.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://wso2.org/carbon/andes/admin/xsd">
            <xs:import namespace="http://Exception.internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://internal.admin.andes.carbon.wso2.org/xsd"/>
            <xs:element name="AndesAdminServiceQueueManagerAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="QueueManagerAdminException" nillable="true"
                                    type="ax27:QueueManagerAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentUser">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKey">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccessKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueues">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllQueuesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax29:Queue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageCountForQueueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValueOfMsgCountViewOption">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValueOfMsgCountViewOptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createQueue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMessageCountForQueueRequest">
        <wsdl:part name="parameters" element="ns:getMessageCountForQueue"/>
    </wsdl:message>
    <wsdl:message name="getMessageCountForQueueResponse">
        <wsdl:part name="parameters" element="ns:getMessageCountForQueueResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccessKeyRequest">
        <wsdl:part name="parameters" element="ns:getAccessKey"/>
    </wsdl:message>
    <wsdl:message name="getAccessKeyResponse">
        <wsdl:part name="parameters" element="ns:getAccessKeyResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrentUserRequest">
        <wsdl:part name="parameters" element="ns:getCurrentUser"/>
    </wsdl:message>
    <wsdl:message name="getCurrentUserResponse">
        <wsdl:part name="parameters" element="ns:getCurrentUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesRequest">
        <wsdl:part name="parameters" element="ns:getAllQueues"/>
    </wsdl:message>
    <wsdl:message name="getAllQueuesResponse">
        <wsdl:part name="parameters" element="ns:getAllQueuesResponse"/>
    </wsdl:message>
    <wsdl:message name="AndesAdminServiceQueueManagerAdminException">
        <wsdl:part name="parameters" element="ns:AndesAdminServiceQueueManagerAdminException"/>
    </wsdl:message>
    <wsdl:message name="createQueueRequest">
        <wsdl:part name="parameters" element="ns:createQueue"/>
    </wsdl:message>
    <wsdl:message name="deleteQueueRequest">
        <wsdl:part name="parameters" element="ns:deleteQueue"/>
    </wsdl:message>
    <wsdl:message name="getValueOfMsgCountViewOptionRequest">
        <wsdl:part name="parameters" element="ns:getValueOfMsgCountViewOption"/>
    </wsdl:message>
    <wsdl:message name="getValueOfMsgCountViewOptionResponse">
        <wsdl:part name="parameters" element="ns:getValueOfMsgCountViewOptionResponse"/>
    </wsdl:message>
    <wsdl:portType name="AndesAdminServicePortType">
        <wsdl:operation name="getAllQueues">
            <wsdl:input message="tns:getAllQueuesRequest" wsaw:Action="urn:getAllQueues"/>
            <wsdl:output message="tns:getAllQueuesResponse" wsaw:Action="urn:getAllQueuesResponse"/>
            <wsdl:fault message="tns:AndesAdminServiceQueueManagerAdminException"
                        name="AndesAdminServiceQueueManagerAdminException"
                        wsaw:Action="urn:getAllQueuesAndesAdminServiceQueueManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <wsdl:input message="tns:createQueueRequest" wsaw:Action="urn:createQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceQueueManagerAdminException"
                        name="AndesAdminServiceQueueManagerAdminException"
                        wsaw:Action="urn:createQueueAndesAdminServiceQueueManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <wsdl:input message="tns:deleteQueueRequest" wsaw:Action="urn:deleteQueue"/>
            <wsdl:fault message="tns:AndesAdminServiceQueueManagerAdminException"
                        name="AndesAdminServiceQueueManagerAdminException"
                        wsaw:Action="urn:deleteQueueAndesAdminServiceQueueManagerAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <wsdl:input message="tns:getAccessKeyRequest" wsaw:Action="urn:getAccessKey"/>
            <wsdl:output message="tns:getAccessKeyResponse" wsaw:Action="urn:getAccessKeyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <wsdl:input message="tns:getCurrentUserRequest" wsaw:Action="urn:getCurrentUser"/>
            <wsdl:output message="tns:getCurrentUserResponse" wsaw:Action="urn:getCurrentUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageCountForQueue">
            <wsdl:input message="tns:getMessageCountForQueueRequest" wsaw:Action="urn:getMessageCountForQueue"/>
            <wsdl:output message="tns:getMessageCountForQueueResponse"
                         wsaw:Action="urn:getMessageCountForQueueResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getValueOfMsgCountViewOption">
            <wsdl:input message="tns:getValueOfMsgCountViewOptionRequest"
                        wsaw:Action="urn:getValueOfMsgCountViewOption"/>
            <wsdl:output message="tns:getValueOfMsgCountViewOptionResponse"
                         wsaw:Action="urn:getValueOfMsgCountViewOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AndesAdminServiceSoap11Binding" type="tns:AndesAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMessageCountForQueue">
            <soap:operation soapAction="urn:getMessageCountForQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValueOfMsgCountViewOption">
            <soap:operation soapAction="urn:getValueOfMsgCountViewOption" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceSoap12Binding" type="tns:AndesAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMessageCountForQueue">
            <soap12:operation soapAction="urn:getMessageCountForQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <soap12:operation soapAction="urn:getAccessKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap12:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <soap12:operation soapAction="urn:getAllQueues" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <soap12:operation soapAction="urn:createQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <soap12:operation soapAction="urn:deleteQueue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AndesAdminServiceQueueManagerAdminException">
                <soap12:fault use="literal" name="AndesAdminServiceQueueManagerAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValueOfMsgCountViewOption">
            <soap12:operation soapAction="urn:getValueOfMsgCountViewOption" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AndesAdminServiceHttpBinding" type="tns:AndesAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getMessageCountForQueue">
            <http:operation location="getMessageCountForQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessKey">
            <http:operation location="getAccessKey"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <http:operation location="getCurrentUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllQueues">
            <http:operation location="getAllQueues"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createQueue">
            <http:operation location="createQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteQueue">
            <http:operation location="deleteQueue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getValueOfMsgCountViewOption">
            <http:operation location="getValueOfMsgCountViewOption"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AndesAdminService">
        <wsdl:port name="AndesAdminServiceHttpsSoap11Endpoint" binding="tns:AndesAdminServiceSoap11Binding">
            <soap:address
                    location="https://10.200.3.179:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsSoap12Endpoint" binding="tns:AndesAdminServiceSoap12Binding">
            <soap12:address
                    location="https://10.200.3.179:9443/services/AndesAdminService.AndesAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AndesAdminServiceHttpsEndpoint" binding="tns:AndesAdminServiceHttpBinding">
            <http:address
                    location="https://10.200.3.179:9443/services/AndesAdminService.AndesAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
